/* src/App.css */
.AppContainer {
  display: flex;
  height: 100vh;
  background: url('./images/background_img.png') no-repeat center center fixed;
  background-size: cover;
}

.ContentContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.LoginContainer {
  display: flex;
  flex: 1;
}

.LeftContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.RightContainer {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.DoctorImage {
  position: absolute;
  bottom: 150px;
  right: 220px;
  height: 70%;
}

.WelcomeText {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
}

.ContentContainer > .MainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #e3f2fd;
  padding: 20px;
}

.MainContent .info-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}